body{

background:#0f0f0f;

color:white;

font-family:Arial;

margin:0;

}

header{

display:flex;

justify-content:space-between;

background:#181818;

padding:15px;

}

#videos{

display:grid;

grid-template-columns:repeat(auto-fill,300px);

gap:20px;

padding:20px;

}

.video{

background:#222;

border-radius:10px;

overflow:hidden;

}

.video img{

width:100%;

}

.video p{

padding:10px;

}
